#bkg{
    position: absolute;
    z-index: -100;
    background-image: url('../images/IMG_20230218_184730_184_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 92vh;
    margin: 0;
    filter: blur(10px)opacity(50%);
}
article{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#paragrph{
     background-color: rgba(227, 227, 222, 0.446);
     border-radius: 10px;
     max-width: fit-content;
     padding: 1rem;
}
h1{
    border-radius: 10px;
    max-width: fit-content;
    padding: 1rem;
    background-color: rgba(227, 227, 222, 0.446);
   
    text-shadow: rgb(55, 134, 252) 1px 0 10px;
}
h4{
    color: rgb(255, 255, 255);
}
#frtende{
    color: rgb(73, 237, 117);
}
#socialMedia {
    background: none;
    margin-top: 2rem;
    font-size: 3vw;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.631);
    max-width: fit-content;
}
.fa-linkedin-square, .fa-facebook-square{
    background: none;
    color: rgba(10, 102, 194,1);
    border-radius: 10px;
    transition: 0.5s;
}
.fa-github-square, .fa-instagram{
    background: none;
    color: rgb(210, 1, 252);
    transition: 0.5s;
}
.fa-github-square:hover, .fa-instagram:hover, .fa-linkedin-square:hover, .fa-facebook-square:hover{
    color: aliceblue;
}
#contactInfo{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
    border-radius: 10px;
    background-color: rgba(227, 227, 222, 0.446);
}
.secImg {

}
#secPargraph{
    display: flex;
    justify-content: space-between;
}
#mainImg{
    height: 50vh;
    border-radius: 15px;
    width: 30vw
}
/* .logoImg{
    width: 6vw;
    height: 7vh;  
} */
/* body{
    min-height: 100vh;
}
footer{
    display: flex;
    background-color: rgb(117, 118, 118);
    margin-top: auto;
} */