#container{
    display: flex;
    justify-content: center;
}
#bkgImg {
    backdrop-filter: blur(10px);
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 90vh;
    filter: blur(4px) opacity(60%);
}
#contentContainer { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 100;
    height: 30vh;
    margin-top: 3rem;
}
#titleContainerBefore{
    border-radius: 10px;
    background-color: #ffffff93;
    padding: 1rem;
}
#titleContainer{
    padding-bottom: 1rem;
    border-bottom: solid 0.1rem rgb(55, 134, 252);
    height: fit-content;
}
#containerPage{
    width: 85vw;
}
#listMovieSearch{
    /* width: 100vw; */
    /* height: 60vh; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}
#mainConrainer{
    display: flex;
    justify-content: center;
}
#commit{
    padding: 1rem;
    width: fit-content;
    border-radius: 10px;
    background-color: #93d3e893;
}
#yet{
    color: rgb(88, 138, 213);
}
#containerMovie{
    background-color: rgba(95, 94, 92, 0.721);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
    border-radius: 10px;
} 
#containerMovie img{
    width: 18vw;
    height: 50vh;
    /* margin-right: 5rem;
    margin-top: 2rem; */
}
#containerContent{
   padding-left: 2rem;
}
#secContainerContent{
    padding-bottom: 2rem;
    margin-right: 2rem;
}
#titleContainer{
    
    border-bottom: solid 0.1rem rgb(55, 134, 252);
    height: fit-content;
}
#paragrphContainer{
    margin-top: 1rem;
  }
  #containerImgDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

@media only screen and (max-width: 1000px){
    #containerMovie{
        flex-direction: column;
        margin-top:1rem;
    }
    #containerMovie img{
        width: 70vw;
    }
    #containerPage{
        overflow-y: unset;
        height: unset;
    }
    #containerContent{
        padding-left: 0;
    }
    #secContainerContent{
        margin-right: 0;
    }
}