#container{
    display: flex;
    justify-content: center;
}
#bkgImg {
    backdrop-filter: blur(10px);
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 90vh;
    filter: blur(4px) opacity(60%);
}
#contentContainer { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 100;
    height: 30vh;
    margin-top: 3rem;
}
#titleContainer{
    border-radius: 10px;
    background-color: #93d3e893;
    padding: 1rem;
}
#commit{
    padding: 1rem;
    width: fit-content;
    border-radius: 10px;
    background-color: #93d3e893;
}
#yet{
    color: rgb(88, 138, 213);
}