#backgImgContainer{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    position: absolute;
}
#backgImg{
    backdrop-filter: blur(10px);
    position: fixed;
    object-fit: cover;
    width: 100%;
    /* height: 100%; */
    filter: blur(10px) opacity(50%);  
}
#containerPage{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -100;
    width: 85vw;
}
#containerPageBeforeMovie{
    margin-top: 5rem;
    position: absolute;
    z-index: 100;
    padding: 2rem;
    border-radius: 10px;
    background-color: #93d3e893;
}
#movieByIdContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
#RELAXspan{
    color: rgb(41, 249, 249);
}
#searchContainer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#idMovieUser{
    border: none;
    width: 80vw;
    height: 7vh;
    border-radius: 10px;
}
#searchBTN{
    height: 7vh;
    width: 10vw;
    border-radius: 10px;
    border: none;
    background-color: rgb(55, 134, 252);
    color: #fff;
}