#titleMoreMovies{
    margin-top: 2rem;
    color: rgb(55, 134, 252);
    background-color: rgba(103, 103, 103, 0.817);
    width: fit-content;
    padding: 1.5rem;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
#titleMoreMovies:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(55, 134, 252);
}
.movieCard p{
    color: #fff;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
}
.movieCard img{
    width: 15vw;
    height: 30vh;
    border-radius: 0.5rem;
    box-shadow: rgb(255 255 255 / 10%) 12px 13px 25px -6px;
}
.movieCard{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#listMovieSearch{
    /* width: 100vw; */
    /* height: 60vh; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}
.paginationBtnActive{
    padding: 1vh;
    border-radius: 5px;
    border: none;
    background-color: rgb(55, 134, 252);
    color: #fff;
    margin-bottom: 2rem;
}