nav{
    position: sticky;
    z-index: 1000;
    top: 0;
}



iframe{
    width: 40vw;
    height: 40vh;
    margin-top: 1rem;
}


/* footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
} */
/* Styling for WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #837f7f00
}



#containerActors{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    height: fit-content;
    overflow-x: auto;
   
}
.containerImg{
    width: 10vw;
    height: 20vh;
    border-radius: 100px;
    position: relative;
    background-color: #4a4848;
    margin: 1rem;
}
.containerImg img{
    border-radius: 100px;
    width: inherit;
    height: inherit;
}


.fa-arrow-left, .fa-arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1.5rem;
    width: 2rem;
    height: 2rem;
    background-color:rgb(55, 134, 252) ;
    position: relative;
    bottom: 25vh;
    right: 3vw;
    cursor: pointer;
    transition: 0.5s;
}
.fa-arrow-right{
    left: 85vw;
    bottom: 30vh;
    
}
.fa:hover{
    background-color: #fff;
    color: rgb(55, 134, 252);
}



