body{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'main main main main'
    'main main main main'
    'main main main main'
    'footer footer footer footer';
    /* width: 100vw; */

    color: #fff;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* gap: 2vh;
    margin: 0; */
    background-color: rgb(0, 0, 0);
    margin: 0;
}
header{
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.544);
    position: sticky;
    top:  0;

}
.active{
    color: #fff;
    border-bottom: 1px solid rgb(55, 134, 252);
    padding-bottom: 5px;
}
nav{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(184, 184, 184);

}
#companyContainer{
    width: 10vw;
}
#company{
    color: rgb(55, 134, 252);
    font-weight: 900;
    font-size: 25px;
}
ul{
    list-style-type: none; 
}
main{
    grid-area: main;
}
section{
    background-image: url('https://img.mako.co.il/2018/04/15/shutterstock15_04_18540015799_i.jpg') ;  
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    display: flex;
    align-items: center;
    
}
#welcomeContainer{
    display: flex;
    align-items: center;
    margin-left: 5rem;
    background-image: url();
    /* width: 100vw; */
    
}
#containerBtnH1{
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}
h1{
    font-size: 80px;
}
.otherColor{
    color: rgb(55, 134, 252);
}

#btnSpace {
    margin-left: 5rem;
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgb(55, 134, 252);
    transition: all 0.2s;
    border-radius: 3px;
}
  
#btnSpace:hover {
    transform: scale(1.1) translateY(-1px);
}
#targetElement{
    height: 5vh;
    text-align: center;
    margin-top: 1rem;
    color:rgb(55, 134, 252) ;
}
#moviesList{
    /* width: 100vw; */
    /* height: 60vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: rgb(0, 0, 0);
}
.movieCardList p{
    color: #fff;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
}
.movieCardList img{
    width: 15vw;
    height: 30vh;
    border-radius: 0.5rem;
    box-shadow: rgb(255 255 255 / 10%) 12px 13px 25px -6px;
}

.movieCardList{
    width: 15vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.love{
    color: rgb(255, 0, 0);
}
.userLiked{
    background-color: #002aff;
   
}
footer{
    grid-area: footer;
}
.nav{
    /* display: flex; */
    justify-content: center;
    gap: 4rem;
    color: red;
    
}

#btnPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.paginationBtn{
    background-color: #2f2f2f;
    color: #fff;
}
.clicked {
    background-color: #ff5733; /* Change this color to the one you prefer */  
}

form{
    display: flex;
    justify-content: center;
}