body{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'main main main main'
    'main main main main'
    'main main main main'
    'footer footer footer footer';
    line-height: normal;
    /* width: 100vw; */
  
    color: #fff;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* gap: 2vh;
    margin: 0; */
    background-color: rgb(0, 0, 0);
    margin: 0;
}
header{
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.544);
    position: sticky;
    top:  0;

}
.active{
    color: #fff;
    border-bottom: 1px solid rgb(55, 134, 252);
    padding-bottom: 5px;
}
nav{
    background-color: #000;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(184, 184, 184);
    
}
a:hover{
    transition: 0.5s;
}
#companyContainer{
    width: 10vw;
}
#company{
    color: rgb(55, 134, 252);
    font-weight: 900;
    font-size: 25px;
}
ul{
    list-style-type: none; 
}
main{
    grid-area: main;
}
/*https://img.lovepik.com/background/20211022/medium/lovepik-film-background-board-film-background-image_500877889.jpg*/
/*  https://img.mako.co.il/2018/04/15/shutterstock15_04_18540015799_i.jpg*/
section{
    background-image: url('https://wallpapers-hub.art/wallpaper-images/48083.jpg') ;  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 95vh;
  
    
}
#welcomeContainer{
    
    margin-top: 5rem;
    margin-left: 5rem;
    /* width: 100vw; */
    
}
#containerBtnH1{
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 50vh;
}
h1{
    font-size: 80px;
}
.otherColor{
    color: rgb(55, 134, 252);
}

#btnSpace {
    margin-left: 5rem;
    --width: 150px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgb(55, 134, 252);
    transition: all 0.2s;
    border-radius: 3px;
}
  
#btnSpace:hover {
    transform: scale(1.1) translateY(-1px);
}
#targetElement{
    text-align: center;
    margin-top: 1rem;
    color:rgb(55, 134, 252) ;
}
#containerMovieListBtnPopularSelect{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 0;
}
.btnPopularSelct{
    /* display: flex; */
    padding-left: 2rem;
    color:rgb(55, 134, 252) ;
}
#moviesList{
    /* width: 100vw; */
    /* height: 60vh; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    
    background-color: rgb(0, 0, 0);
}
.movieCardList p{
    color: #fff;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
}
.movieCardList img{
    width: 15vw;
    height: 30vh;
    border-radius: 0.5rem;
    box-shadow: rgb(255 255 255 / 10%) 12px 13px 25px -6px;
}

.movieCardList{
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.love{
    background-color: rgb(255, 255, 255);
    color: rgb(55, 134, 252);
}
footer{
    grid-area: footer;
}
.nav{
    /* display: flex; */
    justify-content: center;
    gap: 4rem;
    color: red;
}

#btnPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.paginationBtn{
    padding: 1vh;
    border-radius: 5px;
    border: none;
    background-color: rgb(252, 55, 55);
    color: #fff;
    margin-bottom: 2rem;
    transition: 0.5s;
}
.paginationBtn:hover{
    background-color: rgb(55, 134, 252);
    color: #fff;
}
.paginationBtnActive{
    padding: 1vh;
    border-radius: 5px;
    border: none;
    background-color: rgb(55, 134, 252);
    color: #fff;
    margin-bottom: 2rem;
}
.clicked {
    background-color: #ff5733; /* Change this color to the one you prefer */  
}

form{
    display: flex;
    justify-content: center;
}
.likeBtn{
    width: 50%;
    box-shadow: 1px 1px 1px 1px #000;
    background-color:rgb(55, 134, 252) ;
    color: rgb(255, 255, 255);
    padding: 1vh;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.likeBtn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(55, 134, 252);
}
.userLiked{
    background-color: rgb(55, 134, 252);
    color: rgb(255, 0, 0);
}
.clickdBTNpopular{
    background-color:rgb(255, 0, 0) ;
    color: rgb(255, 255, 255);
    padding: 2vh;
    border-radius: 15px;
    transition: 0.5s;
    border: none; 
}
.clickdBTNpopular:hover{
    background-color: #373737;
}
.clickdBTNpopularActive{
    background-color: #373737;

}
.idMovieContainer{
    padding: 0.5rem;
    background: #373737c1;
    border-radius: 10px;
    color:rgb(255, 0, 0) ;
    font-weight: 900;
}
